.main-video {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 15px;
}

.video-display {
    max-width: 100%;
    max-height: 670px;
    flex: 1;
}

.main-video-info {
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main-video-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.main-video-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-video-left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.main-video-pfp {
    height: 40px;
    border-radius: 20px;
}

.main-video-title {
    font-size: 20px;
}

.main-video-author {
    font-size: 17px;
    font-weight: 500;
}

.main-video-stats {
    font-size: 12px;
    color: rgb(150, 148, 148);
}

.main-video-join {
    color: white;
    background-color: black;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(96, 93, 93);
    padding: 8px 12px;
    border-radius: 17px;
    font-size: 14px;
    font-weight: 600;
}

.main-video-subscribe {
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    border-color: rgb(96, 93, 93);
    border-radius: 17px;
    padding: 3px 15px 3px 10px;
    border-style: none;
    background-color: rgb(37, 36, 36);
}

.main-video-subscribe-button {
    border-radius: 8px;
    height: 30px;
    margin-right: 7px;
    margin-bottom: 0;
}

.main-video-subscribe-info {
    font-size: 14px;
    font-weight: 600;  
    color: white;
    font-family: Roboto, Arial;
}

.main-video-right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 7px;
}

.main-video-button {
    flex-direction: row;
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    border-color: rgb(96, 93, 93);
    border-radius: 17px;
    padding: 6px 15px 6px 10px;
    border-style: none;
    background-color: rgb(37, 36, 36);
}

.main-video-like-dislike-button {
    flex-direction: row;
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    border-color: rgb(96, 93, 93);
    border-radius: 17px;
    padding: 6px 15px 6px 10px;
    border-style: none;
    background-color: rgb(37, 36, 36);
    column-gap: 10px;
}

.main-video-like {
    height: 20px;
    object-fit: contain;
}

.main-video-text {
    font-size: 14px;
    font-weight: 600;  
    color: white;
    font-family: Roboto, Arial;   
    margin: 0;
    padding: 0;
}

.main-video-img {
    border-radius: 8px;
    height: 20px;
    margin-right: 7px;
    margin-bottom: 0;
}

.main-video-separator {
    border-left: 0.5px solid rgb(81, 79, 79);
    height: 20px;
}

.main-dot-button {
    flex-direction: row;
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    border-color: rgb(96, 93, 93);
    border-radius: 17px;
    padding: 6px 6px 6px 0px;
    border-style: none;
    background-color: rgb(37, 36, 36);
    word-spacing: 0.15px;
}